<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/index.css') }}">
    <title>FOX</title>
    <script src="{{ static_url('scripts/index.js') }}" type="application/javascript"></script>
</head>
<body>
    <div class="header cont">
        <h1 id="header"></h1>
    </div>
    <div id="main-container" class="cont">
        <div id="condition" class="cont">
            <h2 id="condition-header"></h2>
            <p id="condition-text"></p>
        </div>
        <div id="code-n-result" class="cont">
            <textarea id="code" class="cont"></textarea>
            <button id="btn-check" class="btn">Check</button>
            <div id="result" class="cont"></div>
        </div>
        <div id="navigation" class="cont">
            <button id="btn-back" class="btn">Back</button>
            <button id="btn-next" class="btn">Next</button>
        </div>
    </div>
    <div class="footer cont">
        <p id="footer"></p>
    </div>
    <script type="application/javascript">
        main();
    </script>
</body>
</html>