<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename= 'css/index.css') }}" rel="stylesheet" type="text/css">
    <title>Главная</title>
</head>
<body>
    <h1>Главная</h1>
    <p>Здесь будут всякие новости</p>
    <div id="cont">
        {% block content %}
            {% for entry in news %}
                <p class="news"><strong>{{ entry[1] }}.</strong> {{ entry[2] }}</p>
            {% endfor %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename= 'js/index.js') }}"></script>
</body>
</html>