h1 {
    position: absolute;
    top: 10px;
    left: 55px;
    width: 300px;
    text-align: center;
    padding: 0em;
    margin: 0em;
}

h2 {
    text-align: center;
    padding: 0em;
    margin: 0em;
}

.side {
    margin: 10px;
    width: 90px;
    height: 90px;
}

input {
    width: 20px;
    height: 20px;
}

#w {
    position: absolute;
    top: 150px;
    left: 150px;
}

#o {
    position: absolute;
    top: 150px;
    left: 50px;
}

#r {
    position: absolute;
    top: 150px;
    left: 250px;
}

#g {
    position: absolute;
    top: 250px;
    left: 150px;
}

#y {
    position: absolute;
    top: 350px;
    left: 150px;
}

#b {
    position: absolute;
    top: 50px;
    left: 150px;
}

.btn {
    position: absolute;
    top: 450px;
    left: 170px;
}

.btn:hover{
    cursor: pointer;
}

.message {
    position: absolute;
    top: 17px;
    left: 400px;
    display: flex;
    justify-content: center;
    padding: 0em;
    margin: 0em; 
}