table {
    width: 100%;
    border: solid 1px #666;
}

thead {
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 5px 5px 5px 0px;
}

.btn:hover {
    cursor: pointer;
}

.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 20px 10px;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: none;
}

.open {
    display: flex;
}

#w-modal {
    background-color: rgba(60, 60, 60 ,0.8);
    align-items: center;
    overflow-y: scroll;
}

#c-modal {
    background-color: antiquewhite;
    padding: 20px;
    margin: 5px;
    width: 70%;
}

#w-warning {
    background-color: rgba(255, 255, 255 ,0.0);
    align-items: top;
}

#c-warning {
    background-color: antiquewhite;
    border: #666666;
    border-radius: 5px;
    width: 30%;
    color: #0640fa;
}